/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 10px;
  border: none;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* Firefox */
* {
  scrollbar-width:thin;
  scrollbar-color: #5c5c5c #f1f1f1;
}

/* Edge and IE */
body {
  scrollbar-face-color: #f1f1f1;
  scrollbar-shadow-color: #ddd;
  scrollbar-highlight-color: #ddd;
  scrollbar-3dlight-color: #f1f1f1;
  scrollbar-darkshadow-color: #f1f1f1;
  scrollbar-track-color: #f1f1f1;
  scrollbar-arrow-color: #5c5c5c;
}

*{
  scroll-behavior: smooth;
}
body{
  background-image:url("./neonVectorCity.d8b544e34dff.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  scroll-behavior: smooth;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4), rgba(0,0,0,0.3), rgba(0,0,0,0));
  z-index: -1;
  }

/* navbar style */
  .navbar {
    z-index: 2;
    position:absolute;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    background-color: #222222;
    text-align: center;
    display: flex;
    justify-content: space-around;
    }
    
    .navbar a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
    }
    
    .navbar a:hover {
      background-color: #ddd;
      color: black;
  }

/* Common styles */
  .heading-box,
  .start-btn,
  .form-container .first,
  .form-container .second,
  .form-container .third{
    display: grid;
    place-items: center;
    background-color: #121230;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #122dc486;
  }

  .heading-box h1,
  .start-btn p {
    font-size: 36px;  
    font-family: 'Bruno Ace';
    color: #f5f5f5;
    margin: 0;
    text-align: center;
    }

/* heading section */
  .heading-box {
      position: absolute;
      top: 25%;
      left: 28%;
      transform: translate(-50%, -50%);
      width: 40%;
      z-index: 1;
    }

/* for animations when scroll */
  .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

/* turning off the animation to NOT repeat */
  @media (prefers-reduced-motion: no-preference) {
    .hidden {
      transition: all 1s;
    }
    
    /* add the same transform property as in the .heading-box class */
    .start-btn.hidden,
    .values-to-predict.hidden,
    .form-container .first .hidden,
    .form-container .second .hidden,
    .form-container .third .hidden{
      transform: translateX(-100%);
    }
    
    /* add the same transform property as in the .show class */
    .start-btn.show,
    .values-to-predict.show,
    .form-container .first .show,
    .form-container .second .show,
    .form-container .third .show {
      transform: translateX(-50%);
    }
  }

/* start button */
  .start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: 60%;
  min-height: 30%;
  margin-top: 4em;
}

  .start-btn p {
    font-size: 24px;
    font-weight: 500; 
    scroll-behavior: smooth;
  }
  .btn {
    display: inline-block;
    padding: 18px 0 10px 0;
    background-color: #191935;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid rgb(34, 129, 177);
    box-shadow: 0 0 5px 2px rgba(34, 129, 177, 0.5);
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .btn:hover {
    background-color: #161627;
  }


/* for form container */
  .form-container {
    position:absolute;
    top:155%;
    left: 14%;
    display:grid;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    text-align: center;
    font-family: 'Changa';
    font-size: 22px;
  }
  .form-container .first,
  .form-container .second,
  .form-container .third{
      margin-bottom: 40px;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .form-label {
    width: 200px;
    margin-bottom: 5px;
    color: #CCCCCC;
  }

  input[type="number"] {
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
    height:40px;
    flex-grow: 1;
  }

  /* Style the select element */
    select {
      display: block;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #fff;
      width: 100%;
      max-width: 400px;
      margin-bottom: 10px;
    }

      select option {
        padding: 10px;
        font-size: 16px;
        color: #000000;
        background-color: #fff;
        height: 90px;
        line-height: 90px;
      }

      select option:hover {
        background-color: #d1d0d0;
      }

      select option:checked {
        font-weight: bold;
      }

      select:focus {
        outline: none;
        box-shadow: 0 0 5px #aaa;
        border: 1px solid #aaa;
      }


  .second {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition-delay:200ms;
  }

  .third{
    transition-delay: 100ms;
  }

  input[type="submit"] {
    background-color: #0dbfdf;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    transition: background-color 0.5s ease;
  }

  input[type="submit"]:hover {
    background-color: #065164;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }


/* final result part */
.result{
  display: grid;
  place-items: center;
  background-color: #121230;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 5px #122dc486;
  position:absolute;
  top:20%;
  left: 13%;
  margin: 20px auto;
  width: 70%;
  height: 50%;
  text-align: center;
  font-family: 'Changa';
  font-size: 40px;
  color: #f5f5f5;
  z-index: 1;
}

/* Adjusts the scrolling position when clicking on a link to a target element
   with a specified ID, so that the element is positioned in the middle of the viewport */
#main {
  padding-top: 80px;
  margin-top: -50px;
}

/* media query for device adjustment */
  @media screen and (max-width: 750px) {
    .heading-box{
      width: 60%;
      left: 15%;
    }
    .start-btn{
      width: 90%;
    }
    .form-container{
      left: 13%;
    }
  }

  @media screen and (max-width:620px){
    .form-container{
      left: 10%;
    }
  }

  @media screen and (max-width:570px){
    .form-container{
      left: 8%;
    }
  }

  @media screen and (max-width:535px){
  .form-container{
    left: 0%;
  }
  }

  @media screen and (max-width: 492px) {
    .heading-box{
      width: 70%;
      left: 10%;
    }
    .start-btn{
      width: 85%;
    }
    .form-container {
      padding: 10px;
      margin: 10px auto;
      width: 35%;
      left:10%;
      text-align: center;
      font-size: 14px;
    }
    input[type="number"] {
      padding: 5px;
      width: 60%;
      height:28px;
      flex-grow: 2;
    }
    .form-label {
      width: 150px;
    }
    .second select{
      width: 68%;
    }
    .second .form-label {
      text-align: left;
    }
  }

  @media screen and (max-width: 350px) {
    .heading-box{
      left: 10%;
    }
    .heading-box h1{
      font-size:28px ;
    }
    .form-container {
      padding: 10px;
      margin: 10px auto;
      width: 35%;
      left:8%;
      text-align: center;
      font-size: 14px;
    }
    input[type="number"] {
      padding: 5px;
      width: 55%;
      height:28px;
      flex-grow: 2;
    }
    .form-label {
      width: 100px;
    }
    .second select{
      width: 40%;
    }
    .second .form-label {
      text-align: left;
    }

    .result{
      height: 60%;
      left:12%;
    }
  }
