body{
  background-image:url(./neonVectorCity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  scroll-behavior: smooth;
}

body::before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black color */
z-index: -1;
}

/* navbar style */
.navbar {
  z-index: 1;
  position:absolute;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    background-color: #222222;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

/* heading section */
.heading-box {
    position: absolute;
    top: 25%;
    left: 28%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    align-content: center;
    background-color: #121230;
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #122dc486;
  }
   

  .heading-box h1 {
    font-size: 40px;  
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
    margin: 0;
    text-align: center;
    }

/* media query for heading adjustment */
@media screen and (max-width: 750px) {
  .heading-box{
    width: 60%;
  }
}
@media screen and (max-width: 492px) {
  .heading-box{
    width: 80%;
  }
}


/* for animations when scroll */
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

  /* turning off the animation to NOT repeat */
  @media (prefers-reduced-motion: no-preference) {
    .hidden {
      transition: all 1s;
    }
  }